<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>A letter from your old self</title>
</head>
<body>
  <h3>Hello, hope you are doing well in the future.</h3>
  <p> {{ msg }} </p>

  {{ footer }}
</body>
</html>